<div class="container mt-4">

  <h2>{{ id ? 'Editar Produto' : 'Cadastrar Produto' }}</h2>

  <form (ngSubmit)="salvarProduto()" #formProduto="ngForm" class="mt-3">

    <!-- Nome -->
    <div class="mb-3">
      <label class="form-label">Nome do Produto</label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="produto.produto"
             name="produto">
    </div>

    <!-- Descrição -->
    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <textarea class="form-control"
                rows="4"
                required
                [(ngModel)]="produto.descricao"
                name="descricao"></textarea>
    </div>

    <!-- Preço -->
    <div class="mb-3">
      <label class="form-label">Preço</label>
      <input type="number" class="form-control"
             required
             [(ngModel)]="produto.preco"
             name="preco">
    </div>

    <!-- Foto -->
    <div class="mb-3">
      <label class="form-label">Nome da Imagem (foto)</label>
      <input type="text" class="form-control"
             required
             [(ngModel)]="produto.foto"
             name="foto"
             placeholder="ex: cyberpunk.png">
    </div>

    <!-- Botões -->
    <button class="btn btn-success" type="submit">
      {{ id ? 'Salvar Alterações' : 'Cadastrar Produto' }}
    </button>

    <button class="btn btn-secondary ms-2" routerLink="/painel-principal">
      Cancelar
    </button>

  </form>

</div>

