<div class="container">
  <h2>Lista de Produtos</h2>

  <div class="lista-produtos">
    <mat-card *ngFor="let p of produtos" class="card-produto">
      <mat-card-header>
        <mat-card-title>{{ p.produto }}</mat-card-title>
        <mat-card-subtitle>Preço: R$ {{ p.preco }}</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="'assets/img/' + p.foto" alt="{{ p.produto }}">

      <mat-card-content>
        <p>{{ p.descricao }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Editar</button>
        <button mat-raised-button color="warn">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>



