<main>

    <section id="login">
       <main class="container mt-5">

  <section id="login" class="p-4 rounded shadow bg-light">

    <h2 class="mb-4 text-center">Login</h2>

    <div class="mb-3">
      <label for="staticUsuario" class="form-label">Usuário</label>
      <input type="text" class="form-control" id="staticUsuario" placeholder="email@exemplo.com">
    </div>

    <div class="mb-3">
      <label for="inputPassword" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha">
    </div>

    <button class="btn btn-primary w-100">Entrar</button>

  </section>

</main>

    </section>

</main>
