<mat-toolbar color="primary">
  <div class="toolbar-content">

    <!-- Logo com link para Home -->
    <button mat-button class="logo" routerLink="/">
      <img src="./assets/img/nlogo.ico" alt="Logo"  />
    </button>

        <button mat-button routerLink="/painel-principal">
  Painel
</button>


    <!-- Link: Produtos -->
    <button mat-button routerLink="/produtos">
      Produtos
    </button>

    <span class="spacer"></span>

    <!-- Ícones -->
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <!-- Botão de login -->
    <button mat-raised-button color="accent" routerLink="/login">
      <mat-icon>login</mat-icon>
      Login
    </button>

  </div>
</mat-toolbar>

