.example-spacer {
  flex: 1 1 auto;
}

span{
  padding: 10px;
}

img{
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;

  .menu-icon {
    margin-right: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 24px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-icon {
    margin: 0 8px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

    &:hover {
      transform: scale(1.2);
      color: #ffeb3b; // muda cor ao passar o mouse
    }
  }
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;

  .menu-icon {
    margin-right: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: 500;
    margin-right: 24px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-icon {
    margin: 0 8px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;

    &:hover {
      transform: scale(1.2);
      color: #ffeb3b;
    }
  }

  button {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}








