<div class="container mt-4">
  <h2>Lista de Produtos</h2>

  <!-- Botão NOVO PRODUTO -->
  <div style="text-align: right; margin-bottom: 15px;">
    <button mat-raised-button color="primary" routerLink="/cadastro-produto">
      <mat-icon>add</mat-icon>
      Novo Produto
    </button>
  </div>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>

        <td>
          <img
            [src]="'assets/img/' + produto.foto"
            alt="Imagem do produto"
            width="70"
            style="border-radius: 8px;"
          >
        </td>

        <td>{{ produto.produto }}</td>
        <td>{{ produto.descricao }}</td>
        <td>R$ {{ produto.preco }}</td>

        <!-- AÇÕES -->
        <td class="acoes">
          <button class="btn btn-primary btn-sm" (click)="editar(produto.id)">
            Editar
          </button>

          <button mat-raised-button color="warn" class="ms-2"
                  (click)="deletar(produto.id)">
            <mat-icon>delete</mat-icon>
            Excluir
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>






