.container {
  margin-top: 30px;
}

table {
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;

  th, td {
    padding: 14px !important;   // aumenta o espaço interno das células
    vertical-align: middle;     // deixa o conteúdo alinhado verticalmente
  }

  img {
    border-radius: 6px;
    object-fit: cover;
  }

  thead th {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  tbody tr:hover {
    background-color: #f5f5f5;
    transition: 0.2s;
  }
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.acoes {
  display: flex;
  gap: 12px;        // espaço ENTRE os botões
  justify-content: center; // deixa centralizado
}

.acoes button {
  padding: 6px 12px;
  font-weight: 500;
}
