<main>
    <section id="banner">

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/banner-pc.jpg" class="d-block w-100" alt="Banner Promocional">
    </div>
    <div class="carousel-item">
      <img src="assets/img/banner-ps5.jfif" class="d-block w-100" alt="Promoçao em PS5">
    </div>
    <div class="carousel-item">
      <img src="assets/img/bannerp.png" class="d-block w-100" alt="Promoção em acessórios">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </section>
    <h2><b>Jogos em Promoção</b></h2>
    <mat-grid-list cols="3" >
  <mat-grid-tile><mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/img/COD.jpg" alt="call of duty">
  <mat-card-content>
  <mat-card-header>
    <mat-card-title>Call of Duty</mat-card-title>
  </mat-card-header>
    <p>
      Call of Duty é uma franquia de jogos de tiro em primeira pessoa (FPS) da Activision, que se concentra em combates militares em diversos cenários, desde a Segunda Guerra Mundial até conflitos modernos e futuristas. A série, iniciada em 2003, é conhecida por sua jogabilidade rápida, campanhas cinematográficas e modos multiplayer online, incluindo o popular título gratuito Warzone.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <P><b>R$ 100,00</b></P>
    <button matButton>COMPRAR</button>
  </mat-card-actions>
</mat-card></mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/img/formula-1.jpg" alt="F1">
  <mat-card-content>
  <mat-card-header>
    <mat-card-title>Fórmula 1</mat-card-title>
  </mat-card-header>
    <p>
      Os jogos da série F1 são simuladores oficiais da categoria de automobilismo, que buscam recriar a experiência de ser um piloto de Fórmula 1, com carros, pilotos e equipes licenciados da temporada atual. Eles oferecem modos de jogo variados, como o modo de carreira (incluindo a criação e gerenciamento de sua própria equipe) e o modo história, além de corridas rápidas, multiplayer online e a capacidade de competir em diferentes pistas ao redor do mundo.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <P><b>R$ 250,00</b></P>
    <button matButton>COMPRAR</button>
  </mat-card-actions>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/img/Gta.png" alt="Gta">
  <mat-card-content>
  <mat-card-header>
    <mat-card-title>Gta</mat-card-title>
  </mat-card-header>
    <p>
      GTA V (Grand Theft Auto V) é um jogo eletrônico de ação e aventura em mundo aberto onde o jogador assume o papel de três protagonistas: Michael De Santa, Franklin Clinton e Trevor Philips. A jogabilidade combina exploração do vasto mundo de Los Santos e Blaine County com a realização de missões, que podem ser completadas individualmente ou com a ajuda de outros personagens.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <P><b>R$ 200,00</b></P>
    <button matButton>COMPRAR</button>
  </mat-card-actions>
</mat-card>
  </mat-grid-tile>
</mat-grid-list>

</main>